body {
  padding: 0.6em 0.65em;
}

body > header {
  margin-block-end: 0.65em;
  padding: 0.4em;
  background-color: rgb(255, 244, 212);
  text-align: center;
  border-top: 0.07em solid rgb(0, 0, 0, 25%);
  border-right: 0.14em solid rgb(0, 0, 0, 35%);
  border-bottom: 0.14em solid rgb(0, 0, 0, 35%);
  border-left: 0.07em solid rgb(0, 0, 0, 25%);
}

body > header > h1 {
  margin-block: 0;
  font-weight: normal;
  font-size: 1.5em;
}

body > header > p {
  margin-block: 0.45em 0;
}

#skip a {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip a:focus {
  position: static;
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0.4em;
}

body > div.notebook {
  --book-border-width: 0.3em;
  display: flex;
  flex-direction: column;
  /* Center align notebook. */
  align-items: center;

  padding-top: -webkit-calc((50% * 7/5 * 0.10) + 1.2em);
  padding-top: -moz-calc((50% * 7/5 * 0.10) + 1.2em);
  padding-top: calc((50% * 7/5 * 0.10) + 1.2em);
  border-block-start: 0.14em solid rgb(0, 0, 0, 35%);
}

body > div.notebook > .outer {
  padding-inline-start: -webkit-calc(45% * 2/3);
  padding-inline-start: -moz-calc(45% * 2/3);
  padding-inline-start: calc(45% * 2/3);
  width: 45%;
}

body > div.notebook > .outer > :not(nav) {
  position: relative;

  perspective: 90em;
  perspective-origin: initial;

  padding-top: -webkit-calc(100% * 7/5);
  padding-top: -moz-calc(100% * 7/5);
  padding-top: calc(100% * 7/5);
}

body > div.notebook > .outer > :not(nav)::before,
    body > div.notebook > .outer > :not(nav) > iframe,
    body > div.notebook > .outer > :not(nav)::after {
  content: "";
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  -webkit-transform-origin: left;
  transform-origin: left;
  border: var(--book-border-width) solid currentColor;
}

body > div.notebook > .outer > :not(nav)::before {
  transform: rotate3d(0, 1, 0, 245deg);
  background-color: cornsilk;
}

body > div.notebook > .outer > :not(nav) > iframe {
  z-index: 1;
}

body > div.notebook > .outer > :not(nav)::after {
  background-color: cornsilk;
}

body > div.notebook > .outer > nav#notebook-nav {
  box-sizing: border-box;
  position: relative;
  top: -webkit-calc(-0.5 * var(--book-border-width));
  top: -moz-calc(-0.5 * var(--book-border-width));
  top: calc(-0.5 * var(--book-border-width));

  padding-inline: -webkit-calc(var(--book-border-width) * 1.5);
  padding-inline: -moz-calc(var(--book-border-width) * 1.5);
  padding-inline: calc(var(--book-border-width) * 1.5);
  font-size: initial;
}

body > div.notebook > .outer > nav#notebook-nav * {
  display: inline-block;
  margin-block: 0;
}

body > div.notebook > .outer > nav#notebook-nav > h3,
    body > div.notebook > .outer > nav#notebook-nav > p,
    body > div.notebook > .outer > nav#notebook-nav > ul > li > a {
  font-size: initial;
  background-color: rgb(128, 128, 128, 0.85);
  padding-block: 0.1em;
  color: #080808;
}

body > div.notebook > .outer > nav#notebook-nav > p {
  padding-block: 0.1756em;
  font-size: 0.85em;
}

body > div.notebook > .outer > nav#notebook-nav > ul {
  display: block;
  padding-inline: 0;
}

body > div.notebook > .outer > nav#notebook-nav > ul > li > a {
  box-sizing: border-box;
  display: block;
  padding: 0.5em;
  background-color: teal;
  color: white;
}

body > #myself > div {
  padding-block-start: 0.65em;
  border-block-start: 0.14em solid rgb(0, 0, 0, 35%);
}