<h2>Summary statements about me</h2>

<div class="pure-g">
  <div class="pure-u-5-24">
    <!--suppress HtmlUnknownTarget -->
    <img src="{{ include.image | default: '' }}"
      alt="profile icon" style="display: block; margin: 0 auto; padding-block-start: 1em; width: 45%;">
  </div>
  <div class="pure-u-19-24">
{{ include.statement | default: "..." | markdownify | strip }}
  </div>
</div>