<header>
  <h1>
    This is
    {{ site.description | split: "&#8203;" | first | markdownify | remove: "<p>" | remove: "</p>" | strip }}.
  </h1>
  {{ site.data.page.templates.license_mark }}
</header>