---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {%- assign description = site.description | markdownify | rstrip | strip_html | escape -%}
    {%- if page.title %}{%- comment %}    Page title (and site description after).
    {% endcomment %}{{ page.title | strip_html | escape }} - {% else -%}
    {%- assign length = description.size | minus: 1 -%}{%- comment %}
        Capitalize the first character in the site description variable.
    {% endcomment %}{%- capture description %}{{ description | slice: 0 | capitalize }}
    {{- description | slice: 1, length | rstrip }}{% endcapture -%}
    {%- endif -%}{{ description -}}
  </title>
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ description }}{% endif %}">

  <!--suppress HtmlUnknownTarget -->
  <link rel="icon" href="{{ site.icon_url }}">
  {% for f in site.data.page.templates.ui_framework_files -%}
    {%- if f.type == "css" and f.url_path != "" %}
  <!-- Site UI or framework file (CSS) -->
      {%- comment %}<!-- {% endcomment %}
  <link rel="stylesheet" href="{{ f.url_path }}"{{ f.attributes | default: '' }}>
      {%- comment %} -->{% endcomment %}
    {%- endif -%}
  {%- endfor -%}

  {%- capture custom_document_css %}{{ page.custom_styling | strip_newlines }}{% endcapture -%}
  {%- if custom_document_css != "" %}
  <style>
{{ page.custom_styling | rstrip }}
  </style>
  {%- endif %}
</head>

<body>

{{ content }}

{%- comment %}
<!-- Site UI or framework files (JS)... -->
{% endcomment %}

</body>

</html>