---
layout: default
---
{% if page.dir == "/" %}
{% include header.html %}

<h2>Shared ideas and information notebook</h2>

{{ content }}
<footer id="myself">
{%- assign i = site.icon_url -%}
{%- assign statement = site.data.page.templates.my_statement %}

{% include about_myself.html image=i statement=statement %}

</footer>
{%- else %}
<main>
{{ content }}
</main>
{%- endif %}